body{
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	margin:0px;
	padding:0px;
}
#scene{
	border:1px solid grey;
	width:600px;
	height:400px;
	background:url(/img/bg.png);
}

#name-box{
	position: absolute;
	top:265px;
	background-color: rgba(0,0,0,0.7);
	width:200px;
	height:30px;
	color:#999;
}
#dialog-box{
	position: absolute;
	top:300px;
	left:0px;
	background-color: rgba(0,0,0,0.7);
	width:600px;
	height: 100px;
	
	cursor:pointer;
}
#text{
	color:#999;
}
#dote-animation{
	color:cyan;
}

.ch-center{
	position: absolute;
	top:0px;
	left:200px;

	width:200px;
	height:400px;
	background: url(/scenes/start/assets/right_ladya.png);
}