<!--
  prefix: vnjson-
-->

<div id="vnjson-main-stream" class="screen">
  <h3>main-stream</h3>
  <div class='center'></div>
  <div class='right'></div>
  <div class='left'></div>
  <div class="name-box"></div>
  <div class="dialog-box"></div>
</div>

<div id="vnjson-main-menu" class="screen">
  
  <nav>
    <a href="#" data-parse="jump: scene/label">Start Game</a>
    <a href="#" data-parse="screen: memory-card">Memory Card</a>
    <a href="#" data-parse="screen: settings">Settingst</a>
    <a href="#" data-parse="screen: about">About</a>
  </nav>
</div>
<!-- splash-->
<div id="vnjson-splash" class="screen">
  
<h3>VNJSON demo</h3>
</div>

<!--settings-->
<div id="vnjson-settings" class="screen">

  <h3>Settings</h3>
  <a href="#" data-parse="screen: main-menu">return</a>
</div>
<!--about-->
<div id="vnjson-about" class="screen">
  
  <h3>powered by <a href="http://docs.vnjson.space">vnjson.js</a></h3>
  <ul>
    <li><a href="https://vk.com/vnjson">https://vk.com/vnjson</a></li>
    <li><a href="https://gihub.com/vnjson/vnjson.js">https:/gihub.com/vnjson</a></li>
    <li><a href="http://docs.vnjson.space">http://docs.vnjson.space</a></li>
  </ul>
<a href="#" data-parse="screen: main-menu">return</a>
</div>

<div id="vnjson-memory-card" class="screen">
  <h3>Memory Card</h3>
  <div>
    <button>Save</button>
    <button>Load</button>
  </div>
  
</div>