.text-box{
  width:100%;
  height: 20%;
  position: relative;
  top: 80%;
  background: rgba(0,0,0,1);
  color: white;
  font-size: 18pt;
  font-family: sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,1);
  cursor: pointer;
}
li{
  list-style: none;
}
.menu-item{
  width: 100%;
  display: block;
  background: rgba(0,0,0,1);
  font-size: 16pt;
}
.menu-item{
  background: rgba(0,0,0,0.7);
}
a{
  color: white;
}
