body{
	overflow: hidden;
	margin: 0px;
	padding:0px;
}

#game {
  width: 800px;
  height: 480px;
  border: 2px dashed #999;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#scene{
  width: 800px;
  height:480px;
  position: absolute;
  cursor:pointer;
  margin:0px;
  /*background: url('/game/assets/background.png');*/
  cursor:url('/game/assets/cursor.png'), default;
}
