* {
  box-sizing: border-box;
  margin: 0;
}
body{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.wrapper{
	/*border: 2px dashed grey;*/
	width: 600px;
	height: 400px;
	background: #0b00a8;
	color: #a8a8a8;
	font-family: "Inconsolata", monospace; 
	font-weight: bold;
	font-size: 14pt;
	letter-spacing: 0.03em;
	padding: 5px;

}
#dialog-box{
	border: 2px solid grey;
	
	width: 590px;
	height: 250px;
	padding: 5px;
}	
#dialog-box:hover{
	cursor: pointer;	
}	
nav{
	background: #a8a8a8;
	width:600px;
	height:25px;
}
.nav-item{
	font-weight: bold;
	font-size: 14pt;
	font-family: "Inconsolata", monospace; 
	margin: 5px;
}

#menu{

	width: 100%;

	display: block;
	margin-top: 5px;
}

.menu-item{
	
	background-color: rgba(11, 50, 175, 0.7);
	margin: 2px;
}

.menu-item:hover {
	background-color: rgba(11, 90, 175, 0.7);
	color: white;
	cursor: pointer;
}

.footer{
	background-color: #00a7a8;
	width: 600px;
	height:30px;
	color: white;
	position: absolute;
	top: 420px;
	font-weight: bold;
	font-size: 14pt;
	font-family: "Inconsolata", monospace; 	
}