<section class="dev_view">
<section class="current-item">
	<section class="dev-li"><span class="param">scene: </span><span class="content">{{ scene }}</span></section>
	<section class="dev-li"><span class="param">label: </span><span class="content"> {{ label }}</span></section>
	<section class="dev-li"><span class="param">item:  </span><span class="content">{{ item }}</span></section>
</section>
	
<section class="current-object">
	{
		{{#object}}
		<div class="property"><span class="key">{{key}}</span>:&nbsp; <span class="value">{{value}}</span>,</div>
		{{/object}}	
	}
</section>

</section>