/*
dialog box
 */

.dialog-box{
	width:  600px;
	height: 120px;
	padding: 5px;
	border: none;
	background-image: url(../assets/dialog-box.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 245px;
}
.dialog-box:hover{
	cursor: pointer;	
}	

.dialog-box__name{

	color: white;
	height: 20px;
	width: 30%;
	color: grey;
	font-size: 1.3em;
	padding-left: 5px;
	position: relative;
	top: -7px;	

}
.dialog-box__reply{
	color: grey;
	font-size: 1.2em;
	position: relative;
	top: 8px;
	padding: 5px;

}

.char-letter{
	opacity: 0;
	transition: 0.3s;
}
.dialog-box__signal{
	opacity: 0;
	width: 6px;
	height: 6px;
	display: none;
	background-color: grey;
	animation: signal 1.5s ease-in-out infinite;	
}

@keyframes signal {
 50% { opacity: 1; }
 90% { opacity: 0; }
}