

#screens{}
.screen{
	position: absolute;
	width: 100%;
  height: 100%;
}
.screen__stream {

};
.screen__game-menu {
	background-color: rgba(0,0,0,0.5);
};


.screen__settings {
	padding: 10px;
	background-color: #A7C2D5;
	color: $screenColor;
}

.screen__about {
	padding: 10px;
	background-color: #A7C2D5;
	color: $screenColor;
}

.screen__memory-card {
	padding: 10px;
	background-color: #A7C2D5;
	color: $screenColor;
}

.screen__preload{
	background-color: black;
	color: white;

}
.preloader{
   width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	font-size: 1.5em;
	font-weight: bold;
}

.top-menu{
	width: 100%;
	margin: 0;
	height: 35px;
	background: rgba(0, 0, 0, 0.9);
	color: grey;
	font-weight: bold;
	padding: 1%;
}
.return-to-main-menu{

}

.top-menu.return-to-main-menu :hover{
	color: white;
	cursor: pointer;
}


.btn-return{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 10px;
	padding: 5px;
	font-size: 1.3em;
	font-weight: bold;
	color: grey;
}	